cd /Users/albertwv/Desktop/MSDWeekly/week.8 (android_sensor)
echo "/build/
/.idea
.gradle
/local.properties
/captures
.externalNativeBuild
.cxx

# Ignore Mac system files
.DS_Store

# Ignore IntelliJ IDEA project files
*.iml" > .gitignore
git add .gitignore
